/* Custom CSS */

/* Tags */
body {
    background-color: #EEEEEE;
    font-family: 'Ubuntu Condensed', sans-serif;
    height: 100%;
    margin: 0;
    padding-top: 80px;

    /* Fade effect */
    opacity: 1;
    transition: 1.5s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

/* Classes */
.box-center {
    max-width: 360px;
    margin: 0 auto;
}

.container {
    max-width: 760px;
}

.details-box {
    background-color: #FAFAFA;
    border: 1px solid #DDD;
    border-radius: 2px;
}

.details-icon {
    background-color: #FAFAFA;
    display: inline-block;
    padding: 10px;
}

a.contact-row {
    color: inherit;
}

a.contact-row:hover {
    color: inherit;
    background-color: #EEEEEE;
    text-decoration: none;
}

.contact-row {
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    display: block;
    padding: 8px;
    width: 100%;
}

.main-content {
    max-width: 720px;
    margin: 0 auto;
}

.navbar-brand {
    font-size: 130%;
}

.overlay {
    background: rgba(0, 0, 0, .7);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.spinner {
    animation: spin 1s infinite linear;
    border: 3px solid #EEEEEE;
    border-radius: 100%;
    border-top: 5px solid #0097A7;
    bottom: 0;
    height: 80px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
}

/* Animations */
@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}
