<!doctype html>
<html lang="en-us" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head_fragment :: head">...</div>
<body>
    <!-- Fade effect (needs to be inline to avoid screen flickering) -->
    <script>document.body.className += 'fade-out';</script>

    <header>
        <!-- Navbar -->
        <div th:replace="fragments/navbar_fragment :: nav"></div>
    </header>

    <main class="container">
        <h5 class="text-center"
            th:text="#{title.details}">
            {DetailsTitle}
        </h5>
        <br>

        <div class="box-center">
            <!-- Contact Details Card -->
            <div th:insert="fragments/details_fragment :: details"></div>
        </div>
    </main>

    <!-- Javascript -->
    <div th:insert="fragments/scripts_fragment :: scripts"></div>
</body>
</html>