<!doctype html>
<html lang="en-us" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head_fragment :: head">...</div>
<body>
    <header>
        <!-- Navbar -->
        <div th:replace="fragments/navbar_fragment :: nav"></div>
    </header>

    <main class="container">
        <h5 class="text-center"
            th:text="#{title.edit}">
            {EditTitle}
        </h5>
        <br>

        <div class="box-center">
            <!-- New Contact Form -->
            <div th:replace="fragments/edit_form_fragment :: form"></div>
        </div> <!-- .box-center -->
    </main>

    <!-- jQuery, Popper and Bootstrap JS -->
    <div th:insert="fragments/scripts_fragment :: scripts"></div>
</body>
</html>