<!doctype html>
<html lang="en-us" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<div th:replace="fragments/head_fragment :: head">...</div>
<body>
    <!-- Preloader -->
    <div id="overlay" class="overlay">
        <div class="spinner"></div>
    </div>

    <header>
        <!-- Navbar -->
        <div th:replace="fragments/navbar_fragment :: main-nav"></div>
    </header>

    <main class="container">
        <!-- Main content - Contacts List -->
        <h5 class="text-center"
            th:text="#{title.list}">
            {MainTitle}
        </h5>
        <br>

        <div th:replace="fragments/main_content_fragment :: main-content"></div>
    </main>

    <!-- jQuery, Popper, Bootstrap and Preloader -->
    <div th:insert="fragments/scripts_fragment :: scripts"></div>
</body>
</html>